@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #343C6A;
    --color-secondary: #F97316;
    --color-cardBg: #1E293B;
    --color-lightGray: #B1B1B1;
    --color-background: #F3F3F5;
    --color-darkGray: #334155;

}
body{
    font-family: "Inter", sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}